// - Mobile: 375px
// - Desktop: 1440px

// General style
$font-size-main: 1.1rem;
$font-size-small: 0.8rem;
$font-heading: 'Poppins', sans-serif;
$font-body: 'Open Sans', sans-serif;

$color-primary: hsl(322, 100%, 66%);
$color-secondary: hsl(265, 100%, 66%);
$color-heading: hsl(192, 100%, 9%);
$color-body: hsl(208, 11%, 55%);
$color-bg: hsl(214, 64%, 98%);

$border-radius: 5px;

$shadow-color-secondary: 0px 5px 20px 0px rgba(154, 82, 255, 0.17);
$shadow-color-primary: 0px 0px 10px 0px $color-primary;

$spacing: 3rem; 
$spacing-smaller: 2rem;

//General styling

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-size: $font-size-main;
    font-family: $font-body;
    color: $color-body;
    background-color: $color-bg;
    width: 100%;
}

.container {
    width: 100%;
    padding-right: 3rem;
    padding-left: 3rem;
    margin-right: auto;
    margin-left: auto;
    &.content-middle {
        max-width: 900px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    flex-flow: wrap;
}

.col-100 {
    width: 100%; 
}

.col-50 {
    width: 50%;
}

.col-40 {
    width: 40%;
}

.col-25 {
    width: 25%;
}

.col-20 {
    width: 20%;
}

.col-15 {
    width: 15%;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.push-right {
    margin-right: auto;
}

.push-left {
    margin-left: auto;
}

.flex-row {
    flex-direction: row;
}

.d-flex {
    display: flex;
}

.d-mobile {
    display: none;
}

.flex-col {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.text-small {
    font-size: $font-size-small;
}

.justify-center {
    justify-content: center;
}

.pr-2 {
    padding-right: $spacing-smaller;
}

.pl-2 {
    padding-left: $spacing-smaller;
}

.pb-2 {
    padding-bottom: $spacing-smaller;
}

.mr-2 {
    margin-right: $spacing-smaller;
}

.ml-2 {
    margin-left: $spacing-smaller;
}

.pt-3 {
    padding-top: $spacing;
}

.mr-3 {
    margin-right: $spacing;
}

.ml-3 {
    margin-left: $spacing;
}

//Site components

.bg {
    position: absolute;
    width: 100%;
    height: calc(100vh + 50em);
    overflow: hidden;
    z-index: -1;
    &:before {
        background: #fff;
        top: 17.8em;
        left: 8.2em;
        width: 55rem;
        height: 70rem;
        transform: rotate(61deg);
        content: '';
        position: absolute;
        border-radius: 90px;
    }
    &:after {
        background: $color-primary;
        background: -moz-linear-gradient(-45deg, hsla(322,100%,66%,1) 0%, hsla(265,100%,66%,1) 100%);
        background: -webkit-linear-gradient(-45deg, hsla(322,100%,66%,1) 0%,hsla(265,100%,66%,1) 100%);
        background: linear-gradient(135deg, hsla(322,100%,66%,1) 0%,hsla(265,100%,66%,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff52bf', endColorstr='#9a52ff',GradientType=1 ); 
        width: 98rem;
        height: 76rem;
        transform: rotate(51deg);
        top: -20.8em;
        left: 33.6em; 
        content: ''; 
        position: absolute;
        border-radius: 90px;
    }
}

.section {
    padding-top: ($spacing-smaller * 2);
    padding-bottom: ($spacing-smaller * 2);
}

nav, footer {
    padding: $spacing ($spacing-smaller / 2);
}

.svg-container {
    display: flex;
    width: 100%;
    svg {
        position: absolute;
    }
}

nav {
    .svg-container {
        width: 50%;
    }
}

.btn {
    background-color: $color-primary;
    color: $color-bg;
    border: none;
    padding: ($spacing-smaller / 2) ($spacing-smaller * 2);
    font-size: $font-size-main;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    &.btn-secondary {
        background-color: $color-bg;
        color: $color-secondary;
        box-shadow: $shadow-color-secondary;
    }
    &:hover {
        box-shadow: $shadow-color-primary;
    }
}

input {
    padding: ($spacing-smaller / 2);
    display: block;
    margin-bottom: ($spacing-smaller / 2);
    border: none;
}

h1, h2, h3 {
    color: $color-heading;
    font-family: $font-heading;
    margin-bottom: ($spacing-smaller / 2);
}

h1 {
    font-size: ($font-size-main + 0.9rem);
}

h2 {
    font-size: ($font-size-main + 1.6rem);
}

h3 {
    font-size: ($font-size-main + .6rem); 
}

h4 {
    text-transform: uppercase;
    font-size: 1.2rem;
}

p {
    line-height: 1.5;
    margin-bottom: 1.5rem;
    &.subtitle {
        font-size: ($font-size-main + .3rem);
    }
}

#hero {
    padding-bottom: 24rem;
    h1 {
        margin-bottom: ($spacing-smaller - .5rem);
    }
    p {
        max-width: 759px;
        margin: 0 auto;
    }
}

#about {

    li {
        margin-bottom: $spacing;
    }

    img {
        align-self: center;
    }

    .col-50:nth-child(1) {
        padding-left: ($spacing-smaller + 2rem);
    }

    .col-50:nth-child(2) {
        padding-left: ($spacing * 2);
        padding-right: ($spacing + 2rem);
    }
}

.card {
    max-width: 766px;
    margin: 0 auto;
    padding: ($spacing * 2);
    background-color: #fff;
    box-shadow: $shadow-color-secondary;
    p {
        margin-bottom: $spacing;
    }
}

.btn, .card, input {
    border-radius: $border-radius;
}

footer {
    background-color: $color-heading;
    color: $color-bg;
    margin-top: 10rem;
    padding-top: 5.5rem;
    .container {
        .svg-container {
            margin-bottom: ($spacing + 1rem);
            svg {
                path {
                fill: #fff;
                }
            }
        }
        ul {
            margin-top: 0;
            &.icon-list {
                max-width: 144px;
                justify-content: space-between;
            }
            li {
                line-height: 2.5; 
            }
        }  

        .copy, .text-small {
            margin-top: ($spacing-smaller - .5rem)
        }
        h4 {
            margin-top: 0;
            margin-bottom: 0;
        }
        .btn {
            padding: ($spacing-smaller / 2) $spacing;
        }
        .attribution {
            padding-top: 11rem;
            a {
                color: $color-primary;
            }
        }
    }  
}

@media (max-width: 950px) {
    .col {
        width: 100%;
    }

    .d-desktop {
        display: none;
    }

    .d-mobile {
        display: block;
    }

    #about {
        text-align: center; 
        .col-50:nth-child(1) {
            margin-bottom: ($spacing *3);
        }
        .col-50 {
            padding: 0 !important;
        }
    }
    footer {
        .container {
            .svg-container {
                margin-bottom: ($spacing-smaller * 2);
                margin-top: ($spacing-smaller * 2);
                justify-content: center;
            }
            .col-25 {
                text-align: center;
                margin-top: ($spacing-smaller * 2);
                button {
                    width: 100%;
                }
            }
            .d-mobile {
                padding-top: ($spacing * 2.5);
                .icon-list {
                    margin: 0 auto;
                }
            }
            .attribution {
                text-align: center;
                padding-top: 0;
            }
        }
    }
}

@media (max-width: 490px) {

    h1 {
        font-size: 1.9rem;
    }
    
    h2 {
        font-size: ($font-size-main + .3rem);
    }
    
    h3 {
        font-size: ($font-size-main + .3rem); 
    }
    p {
        &.subtitle {
            font-size: $font-size-main;
        }
    }
    .btn {
        font-size: ($font-size-main - .3rem);
    }
    

    .container {
        padding-left: $spacing-smaller;
        padding-right: $spacing-smaller;
    }
    nav {
        padding: $spacing-smaller  0rem;
        .container {
        padding-right: $spacing-smaller;
        padding-left: $spacing-smaller;
        }
    }

    .card {
        padding: $spacing $spacing-smaller;
    }

    footer {
        padding: $spacing-smaller  0rem;
    }
}
